Read the following data set:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
1. Create an sqlalchemy engine using a sample from the data set

In [75]:
#import pandas as pd
#import sqlite3
#Using local csv file as 404 http error is coming sometimes
#df=pd.read_csv(r'C:\Users\sidha\Documents\GitHub\ACD_MDS_Online_V5_Session_13_Assignment_1_Main\adult_data.csv')
#df=df.head(100)
#rename columns
#df.columns=['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain'
           #,'capital_loss','hours_per_week','native_country','salary']
#Start db connection
#conn = sqlite3.connect('sqladb.db')
#cur = conn.cursor()
#create table
#cur.execute("create table adult (id integer,age integer,workclass text,fnlwgt integer,education test ,education_num integer ,marital_status text,occupation text,relationship text,race text,sex text,capital_gain integer,capital_loss integer,hours_per_week integer,native_country text,salary text)")
#insert data into table

In [1]:
#Import required libraries
import os
import sys
from sqlalchemy import Column, ForeignKey, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship
from sqlalchemy import create_engine
Base = declarative_base()

#create class adult for table 
class Adult(Base):
    __tablename__ = 'adult'
    # Here we define columns for the table person
    # Notice that each column is also a normal Python instance attribute.
    id = Column(Integer, primary_key=True)
    age =Column(Integer)
    workclass =Column(String(250))
    fnlwgt = Column(Integer)
    education= Column(String(250)) 
    education_num=Column(Integer)
    marital_status= Column(String(250))
    occupation=Column(String(250))
    relationship=Column(String(250))
    race= Column(String(250))
    sex=Column(String(250))
    capital_gain=Column(Integer)
    capital_loss=Column(Integer)
    hours_per_week=Column(Integer)
    native_country=Column(String(250))
    salary=Column(String(250))
#Create sqlalchmy engine for db    
engine = create_engine('sqlite:///sqlalchmy2.db',echo=True) 
Base.metadata.create_all(engine)

2018-09-23 18:47:20,987 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-23 18:47:21,002 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 18:47:21,007 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-23 18:47:21,012 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 18:47:21,018 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("adult")
2018-09-23 18:47:21,021 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 18:47:21,028 INFO sqlalchemy.engine.base.Engine
CREATE TABLE adult (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR(250),
	fnlwgt INTEGER,
	education VARCHAR(250),
	education_num INTEGER,
	marital_status VARCHAR(250),
	occupation VARCHAR(250),
	relationship VARCHAR(250),
	race VARCHAR(250),
	sex VARCHAR(250),
	capital_gain INTEGER,
	capital_loss INTEGER,
	hours_per_week INTEGER,
	native_country VARCHAR(250),
	salary VARCHAR(250),
	PRIMARY KEY (id)
)


2018-09-23 18:47:21,030 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 18:47:21,150 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
#Bind the session with engine and initiate the session
from sqlalchemy.orm import sessionmaker
DBSession = sessionmaker(bind=engine)
session = DBSession()

In [5]:
#Insert data into the table adult
new_row=Adult(id = 123,age=20,workclass='Private',fnlwgt=83311,education='Bachelors',education_num=13,marital_status='Married-civ-spouse',occupation='Exec-managerial',relationship='Husband',race='White',sex='Male',capital_gain=500,capital_loss=50,hours_per_week=13,native_country='United-States',salary='>50K')
session.add(new_row)
new_row=Adult(id = 345,age=20,workclass='State-gov',fnlwgt=83312,education='9th',education_num=16,marital_status='Divorced',occupation='Handlers-cleaners',relationship='Wife',race='Black',sex='Female',capital_gain=600,capital_loss=70,hours_per_week=40,native_country='Cuba',salary='>50K')
session.add(new_row)
new_row=Adult(id = 346,age=22,workclass='Federal-gov',fnlwgt=83314,education='Doctorate',education_num=17,marital_status='Separated',occupation='Prof-specialty',relationship='Unmarried',race='Black',sex='Female',capital_gain=700,capital_loss=70,hours_per_week=20,native_country='Maxico',salary='>50K')
session.add(new_row)
new_row=Adult(id = 347,age=50,workclass='Self-emp-not-inc',fnlwgt=83315,education='Masters',education_num=19,marital_status='Married-civ-spouse',occupation='Transport-moving',relationship='Husband',race='Black',sex='Male',capital_gain=800,capital_loss=40,hours_per_week=40,native_country='United-States',salary='>50K')
session.add(new_row)
new_row=Adult(id = 349,age=60,workclass='Private',fnlwgt=83316,education='HS-grad',education_num=20,marital_status='Married-civ-spouse',occupation='Tech-support',relationship='Husband',race='White',sex='Male',capital_gain=900,capital_loss=70,hours_per_week=30,native_country='Cuba',salary='>50K')
session.add(new_row)
session.commit()

2018-09-23 18:49:55,333 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-23 18:49:55,337 INFO sqlalchemy.engine.base.Engine INSERT INTO adult (id, age, workclass, fnlwgt, education, education_num, marital_status, occupation, relationship, race, sex, capital_gain, capital_loss, hours_per_week, native_country, salary) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-09-23 18:49:55,338 INFO sqlalchemy.engine.base.Engine ((123, 20, 'Private', 83311, 'Bachelors', 13, 'Married-civ-spouse', 'Exec-managerial', 'Husband', 'White', 'Male', 500, 50, 13, 'United-States', '>50K'), (345, 20, 'State-gov', 83312, '9th', 16, 'Divorced', 'Handlers-cleaners', 'Wife', 'Black', 'Female', 600, 70, 40, 'Cuba', '>50K'), (346, 22, 'Federal-gov', 83314, 'Doctorate', 17, 'Separated', 'Prof-specialty', 'Unmarried', 'Black', 'Female', 700, 70, 20, 'Maxico', '>50K'), (347, 50, 'Self-emp-not-inc', 83315, 'Masters', 19, 'Married-civ-spouse', 'Transport-moving', 'Husband', 'Black', 'Male', 800, 40, 40, 'United-States', '>50K'), (349, 60, 'Private', 83316, 'HS-grad', 20, 'Married-civ-spouse', 'Tech-support', 'Husband', 'White', 'Male', 900, 70, 30, 'Cuba', '>50K'))
2018-09-23 18:49:55,462 INFO sqlalchemy.engine.base.Engine COMMIT

2. Write two basic update queries

In [53]:
from sqlalchemy import update
#Select some rows and print
all_rows=session.query(Adult).all()
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2018-09-23 19:32:37,656 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2018-09-23 19:32:37,658 INFO sqlalchemy.engine.base.Engine ()
123 Private Bachelors 20
345 State-gov 9th 20
346 Federal-gov Doctorate 22
347 Self-emp-not-inc Masters 50
349 Private HS-grad 60

In [60]:
#update the rows
session.query(Adult).filter_by(id=123).update({"age":50})
session.query(Adult).filter_by(id=346).update({"age":60})
all_rows=session.query(Adult).all()
#print updated rows
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2018-09-23 19:37:07,220 INFO sqlalchemy.engine.base.Engine UPDATE adult SET age=? WHERE adult.id = ?
2018-09-23 19:37:07,221 INFO sqlalchemy.engine.base.Engine (50, 123)
2018-09-23 19:37:07,224 INFO sqlalchemy.engine.base.Engine UPDATE adult SET age=? WHERE adult.id = ?
2018-09-23 19:37:07,303 INFO sqlalchemy.engine.base.Engine (60, 346)
2018-09-23 19:37:07,307 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2018-09-23 19:37:07,308 INFO sqlalchemy.engine.base.Engine ()
123 Private Bachelors 50
345 State-gov 9th 20
346 Federal-gov Doctorate 60
347 Self-emp-not-inc Masters 50
349 Private HS-grad 60

3. Write two delete queries

In [67]:
from sqlalchemy import delete
#Delete rows and commit
session.query(Adult).filter_by(id=123).delete()
session.query(Adult).filter_by(id=346).delete()
session.commit()

2018-09-23 19:46:43,004 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.id = ?
2018-09-23 19:46:43,006 INFO sqlalchemy.engine.base.Engine (123,)
2018-09-23 19:46:43,009 INFO sqlalchemy.engine.base.Engine DELETE FROM adult WHERE adult.id = ?
2018-09-23 19:46:43,010 INFO sqlalchemy.engine.base.Engine (346,)
2018-09-23 19:46:43,011 INFO sqlalchemy.engine.base.Engine COMMIT

In [68]:
#print curreent instance values after deleting 
all_rows=session.query(Adult).all()
for row in all_rows:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2018-09-23 19:47:02,171 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-09-23 19:47:02,173 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
2018-09-23 19:47:02,175 INFO sqlalchemy.engine.base.Engine ()
345 State-gov 9th 20
347 Self-emp-not-inc Masters 50
349 Private HS-grad 60

4. Write two filter queries

In [78]:
#Filter based on id
fil_a=session.query(Adult).filter_by(id=345).all()
fil_b=session.query(Adult).filter_by(id=347).all()
#Print filtered values
for row in fil_a:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))
for row in fil_b:
    print(str(row.id)+' '+row.workclass+' '+row.education+' '+str(row.age))

2018-09-23 19:53:43,574 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
WHERE adult.id = ?
2018-09-23 19:53:43,576 INFO sqlalchemy.engine.base.Engine (345,)
2018-09-23 19:53:43,579 INFO sqlalchemy.engine.base.Engine SELECT adult.id AS adult_id, adult.age AS adult_age, adult.workclass AS adult_workclass, adult.fnlwgt AS adult_fnlwgt, adult.education AS adult_education, adult.education_num AS adult_education_num, adult.marital_status AS adult_marital_status, adult.occupation AS adult_occupation, adult.relationship AS adult_relationship, adult.race AS adult_race, adult.sex AS adult_sex, adult.capital_gain AS adult_capital_gain, adult.capital_loss AS adult_capital_loss, adult.hours_per_week AS adult_hours_per_week, adult.native_country AS adult_native_country, adult.salary AS adult_salary
FROM adult
WHERE adult.id = ?
2018-09-23 19:53:43,580 INFO sqlalchemy.engine.base.Engine (347,)
345 State-gov 9th 20
347 Self-emp-not-inc Masters 50

5. Write two function queries

In [120]:
#Inport library for functions
from sqlalchemy.sql import func
#Query max and avg function
qry1 = session.query(func.max(Adult.age).label("max_age"))
qry2 = session.query(func.avg(Adult.age).label("avg_age"))
res1 = qry1.one()
res2 = qry2.one()
max_age = res1.max_age
avg_age = res2.avg_age
#Print max and avg
print("Max age is {}".format(max_age))
print("Avg age is {}".format(avg_age))

2018-09-23 20:20:35,354 INFO sqlalchemy.engine.base.Engine SELECT max(adult.age) AS max_age
FROM adult
2018-09-23 20:20:35,355 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 20:20:35,357 INFO sqlalchemy.engine.base.Engine SELECT avg(adult.age) AS avg_age
FROM adult
2018-09-23 20:20:35,359 INFO sqlalchemy.engine.base.Engine ()
Max age is 60
Avg age is 43.333333333333336

2018-09-23 20:20:14,980 INFO sqlalchemy.engine.base.Engine SELECT max(adult.age) AS max_age
FROM adult
2018-09-23 20:20:14,981 INFO sqlalchemy.engine.base.Engine ()
2018-09-23 20:20:14,985 INFO sqlalchemy.engine.base.Engine SELECT avg(adult.age) AS avg_age
FROM adult
2018-09-23 20:20:14,986 INFO sqlalchemy.engine.base.Engine ()
Max age is 60
Avg age is 43.333333333333336